<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div id="row" v-for="y in 3">
            <div id="col" v-for="x in 3">
                
                <div v-bind:class="[tiles[getTileID(x,y)-1].owner==100 ? 'player1' : tiles[getTileID(x,y)-1].owner==200 ? 'player2' : 'tile-default']" v-on:click="boxClicked(getTileID(x,y)-1)" :key="getTileID(x,y)">
            </div>
        </div>
        </div>
        <p>{{ msg }}</p>
        <input type="button" @click="resetGame" value="Reset Game"></button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
<style>
    #col {
        display: inline-block;
    }
    .tile-default {

        background-color: white;
        margin: 1px;
        border-width: 1px;
        border-style: solid;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .player1 {

        background-color: red;
        margin: 1px;
        border-width: 1px;
        border-style: solid;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .player2 {

        background-color: green;
        margin: 1px;
        border-width: 1px;
        border-style: solid;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
</style>
</html>